body {
    margin: 0px;
    font-size: 16px;
    height: 100%;
    background-color: white;
}

.section-header {
    font-family: 'Alegreya', serif;
    font-size: 6em;
    text-align: center;
}

/*Title stuff*/

#title {
    position: relative;
    color: white;
    padding-bottom: -5px;
    background-color: black;
    padding-top: 10px;
    padding-left: 5%;
    height: 90px;
}

#logo {
    position: relative;
    width: 5%;
    margin-left: 90%;
    top: -80%;

}

#title-text {
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
    /* padding-top: 5spx; */
    font-size: 2em; 
    text-align: left;
    position: relative;
    color: white;
    top: -15%;
    font-family: 'Lora', serif;
    margin-bottom: -7px;
}

#title-subtitle {
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
    font-size: 0.6em; 
    text-align: left;
    position: relative;
    color: white;
    font-family: 'Lora', serif;
}

#title-subtitle:hover {
    color: gray;
}