body {
    margin: 0px;
    font-size: 16px;
    height: 100%;
    background-image: url('../images/background-wood.jpg');
    background-size: cover;
}

.section-header {
    font-family: 'Alegreya', serif;
    font-size: 6em;
    text-align: center;
}

/*Title stuff*/

#title {
    position: relative;
    color: white;
    padding-bottom: -5px;
    background-color: rgb(32, 0, 0);
    /* background-image: url('../images/background-dark-wood.jpg'); */
    padding-top: 10px;
    padding-left: 5%;
    height: 90px;
}

#logo {
    position: relative;
    width: 3%;
    margin-left: 90%;
    top: -80%;

}

#title-text {
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
    /* padding-top: 5spx; */
    font-size: 2em; 
    text-align: left;
    position: relative;
    color: white;
    top: -15%;
    font-family: 'Lora', serif;
    margin-bottom: -7px;
}

@media(max-width: 700px) {
    #title-text {
        font-size: 1.3em;
    }

    #logo {
        width: 8%;
        top: -60%;
    }
}

#title-subtitle {
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
    font-size: 0.6em; 
    text-align: left;
    position: relative;
    color: white;
    font-family: 'Lora', serif;
}

#title-subtitle:hover {
    color: gray;
}

.merch {
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
    width: 50%;
    font-family: 'Lora', serif;
    border-style: solid;
    border-color: rgb(32, 0, 0);
} 

.merch-text {
    color: white;
    
}

table {
    width: 100%;
    padding-top: 8%;
}

th {
    text-align: center;
    vertical-align: middle;
}

#bottom-text {
    text-align: center;
}
